<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<!---/*@thymesVar id="owner" type="volha.spring.newpetclinic.model.Owner"*/-->
<h1 th:text="'List of Owners!!!'">List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">2</td>
        <td th:text="${owner.lastName}">3</td>
    </tr>
    </tbody>
</table>
</body>
</html>
